@model Banco.Models.Post

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm(
                            null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="container prs cajon">
        <div class="col-md-8 derecha">
            <div class="form-horizontal">
                <h4 class="center">Crea una nueva propiedad</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="form-group">
                        @Html.LabelFor(model => model.tittle, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.tittle, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.tittle, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <textarea name="description" id="description"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.contenido, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <textarea name="contenido" id="contenido"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.lote, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <textarea name="lote" id="lote"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.precio, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <textarea name="precio" id="precio"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.provincia, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <textarea name="provincia" id="provincia"></textarea>
                        </div>
                    </div>
                    <div class="file-field input-field">
                        <div class="btn">
                            <span>File</span>
                            <input type="file" name="Image" id="Image">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" placeholder="selecciona un archivo">
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10 ">
                            <input type="submit" value="Create" class="btn btn-default derecha" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="derecha2">
    @Html.ActionLink("Volver", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
